{{define "home"}}
    {{range .PageInfo}}
    {{- $newversions := .Newversions}}
        {{if .Outdated}}
            <div class="card m-3 red" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{.Hostname}}</h5>
                <p class="card-text">
                    OS: {{.OS.Name}}
                    <br>
                    Version: {{.OS.Version}}
                    <br>
                    Kernel: {{.Kernel}}
                    <br><br>
                    This server has one or more outdated packages.</p>
                <a href="/outdated/{{.Hostname}}" class="btn btn-danger shadow">Outdated Packages</a>
                </div>
            </div>
        {{end}}
    {{end}}
{{end}}